:root {
    --primary-color: #9792E4;
    --secondary-color: #0084FD;
    --small-text: .8rem;
    --card-title: 1.1rem;
}

/* *RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* *GENERALS */

.container {
    width: 70%;
    margin: 0 auto;
    padding: 15px;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

ul li {
    padding: 0 10px;
}

.col {
    width: calc(100% / 3);
}

/* *GRID */

.grid.container {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}

.col {
    padding: 15px;
}

.card {
    border-radius: 15px;
    height: 100%;
}

/* *HEADER */

#header {
    background-color: var(--secondary-color);
    color: white;
    font-size: 0.8rem;
}

#header .container {
    display: flex;
    justify-content: space-between;
}

#header .logo > img {
    height: 30px;
}

#header nav {
    display: flex;
    align-items: center;
}

#header button {
    border: none;
    background-color: white;
    border-radius: 15px;
    padding: 5px 10px;
    line-height: 20px;
}

#header i {
    display: none;
    font-size: 1.6rem;
}

/* *MAIN */

/* demo-app section */
#demo-app .card {
    background-color: #B5DDFF;
}

#demo-app .col {
    width: calc(100% / 3);
}

#demo-app .col:first-child {
    width: calc(100% / 3 * 2);
}

#demo-app .col:first-child .card {
    display: flex;
}

#demo-app .col:first-child .card-left, 
#demo-app .col:first-child .card-right {
    width: 50%;
}

#demo-app .col:first-child .card-left h2 {
    font-size: var(--card-title);
    color: var(--secondary-color);
    padding: 15px 0;
}

#demo-app .col:first-child .card-left p {
    color: #506272;
    font-size: var(--small-text);
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 20px;
}

#demo-app .col:first-child .card-left button {
    border: none;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
}

#demo-app .col:first-child .card-right img {
    height: 100%;
}

#demo-app .col:first-child .card-left {
    padding: 1rem;
    text-align: left;
}

#demo-app .col .card {
    text-align: center;
}

#demo-app .col .card .card-logo {
    font-size: 4rem;
    color: var(--secondary-color);
}

#demo-app .col .card h2 {
    font-size: var(--card-title);
    color: var(--secondary-color);
    padding: 10px;
}

#demo-app .col .card .card-logo {
    padding: 1rem;
}

#demo-app .col .card p {
    color: #506272;
    font-size: var(--small-text);
    font-weight: bold;
    line-height: 20px;
    padding: 10px;

}

/* planning section */
#planning {
    background-color: var(--primary-color);
}

#planning .container {
    width: 60%;
    display: flex;
    align-items: flex-end;
    gap: 40px;
}

#planning .card {
    width: 50%;
    padding: 40px 0;
}

#planning .card-left {
    height: 100%;
    color: white;
}

#planning .card-right {
    height: 50%;
    background-color: white;
    text-align: center;
    border-radius: 40px;
    padding: 0 25px;
}

#planning .card-left img {
    width: 100%;
    padding-bottom: 100px;
}

#planning .card-right img {
    width: 80%;
}

#planning h2 {
    padding-bottom: 40px;
}

#planning p {
    font-size: .8rem;
    line-height: 25px;
}

#planning h4 {
    padding-bottom: 20px;
}

#planning .card-right p {
    font-style: italic;
}

#planning button {
    width: 40px;
    height: 40px;
    margin: 20px 0;
    border-radius: 50%;
    border: none;
    background-color: #9792E4;
}

/* testimonials section */

#testimonials {
    text-align: center;
    padding: 50px 0;
}

#testimonials h2 {
    font-size: 2rem;
    color: #9792E4;
    margin: 20px 0;
}

#testimonials .card p {
    padding-bottom: 20px;
    font-size: .9rem;
    line-height: 25px;
    color: white;
}

#testimonials .name {
    color: white;
    font-weight: bold;
}

#testimonials .card {
    padding: 10px;
    border-radius: 40px;
    text-align: left;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    margin: 30px 0;
}

#testimonials .card-left {
    width: 100px;
    height: 100px;
    margin-right: 30px;
}

#testimonials .card-left img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#testimonials .card-right {
    width: 80%;
    height: 60%;
}

/* benefits section */
#benefits {
    background-color: var(--primary-color);
    padding: 30px 0;
}

#benefits h2 {
    color: white;
    font-size: 2rem;
    padding-bottom: 30px;
    text-align: center;
}

#benefits .col {
    border-radius: 20px;
}

#benefits .card {
    background-color: white;
    padding: 20px 20px;
}

#benefits .benefits-number {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: bold;
    padding: 5px 0;
}

#benefits .benefits-title {
    color: var(--primary-color);
    padding: 5px 0;
}

#benefits .benefits-content {
    font-size: var(--small-text);
    color: #353535;
    line-height: 20px;
    padding: 5px 0;
}

#benefits .benefits-button {
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: 8px 30px;
    border-radius: 15px;
    margin: 10px 0;
}

/* about us section */
#about-us .container {
    padding: 80px 40px;
    display: flex;
    gap: 30px;
}

#about-us .left-content {
    width: 70%;
}

#about-us .left-content h2 {
    color: var(--primary-color);
    font-size: 3rem;
    padding-bottom: 30px;
}

#about-us .left-content p {
    line-height: 35px;
    font-size: .9rem;
    padding-bottom: 30px;
    margin-right: 50px;
}

#about-us .right-content {
    width: 30%;
}

#about-us .right-content .layer {
    position: relative;
}

#about-us .right-content .layer i {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--primary-color);
    font-size: 4rem;
}

#about-us .right-content img {
    border-radius: 50%;
}

#about-us .right-content p {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.3rem;
    padding: 20px 10px 10px 0;
}

#about-us .right-content button {
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: 5px 20px;
    border-radius: 15px;
    margin: 10px 0;
}

/* banner section */
#banner {
    background-color: var(--primary-color);
    padding: 30px 20px;
}

#banner .container {
    width: 40%;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    color: white;
}

#banner .top-title {
    color: rgba(255, 255, 255, 0.604);
    font-size: .9rem;
    padding-bottom: 20px;
}

#banner h3 {
    font-size: 2rem;
    padding-bottom: 30px;
}

#banner h2 {
    font-size: 4rem;
    color: #FDC15F;
    padding-bottom: 20px;
}

#banner p {
    font-size: var(--small-text);
    padding: 0 20px;
}

#banner button {
    border: none;
    background-color: white;
    color: var(--primary-color);
    padding: 15px 40px;
    border-radius: 30px;
    margin: 30px 0;
}

#banner .copyright {
    font-size: var(--small-text);
}

#banner .copyright a {
    color: white;
}

/* *FOOTER */

#footer {
    background-color: #333333;
    padding: 30px 0;
}

#footer .container {
    width: 30%;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: var(--small-text);
}

#footer p {
    padding-bottom: 50px;
}
/* *MEDIAQUERY */

/* tablet query */
@media screen and (max-width: 768px) {

    /* header */
    #header nav {
        display: none;
    }

    #header i {
        display: block;
    }

    /* demo-app section */
    .container {
        width: 100%;
    }

    #demo-app .col:first-child .card-left {
        width: 100%;
    }
    
    #demo-app .col:first-child .card {
        display: block;
    }

    /* planning section */
    #planning .container {
        width: 100%;
        display: block;
    }

    #planning .card {
        width: 100%;
    }

    /* benefits section */
    #benefits .col {
        width: calc(100% / 2);
    }

    /* banner section */
    #banner .container {
        width: 100%;
    }

    /* footer */
    #footer .container {
        width: 100%;
    }
}

/* mobile query */
@media screen and (max-width: 480px) {

    /* demo-app section */
    #demo-app .col,
    #demo-app .col:first-child {
        width: 100%;
    }
    
    #demo-app .col:first-child .card-right {
        width: 100%
    }

    /* testimonials section */
    #testimonials .card {
        display: block;
        text-align: center;
    }

    #testimonials .card-left {
        margin: 0 auto;
    }

    #testimonials .card-right {
        width: 100%;
    }

    /* benefits section */
    #benefits .col {
        width: 100%;
    }

    /* about-us section */
    #about-us .container {
        display: block;
    }

    #about-us .container .left-content, 
    #about-us .container .right-content {
        width: 100%;
    }
}