:root {
    --primary-color: #9792E4;
    --secondary-color: #0084FD;
}

/* *RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* *GENERALS */

.container {
    width: 70%;
    margin: 0 auto;
    padding: 15px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

ul li {
    padding: 0 10px;
}

.col {
    width: calc(100% / 3);
}

/* *GRID */

.grid.container {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}

.col {
    padding: 15px;
}

.card {
    border-radius: 15px;
    height: 100%;
}

/* *HEADER */

#header {
    background-color: var(--secondary-color);
    color: white;
    font-size: 0.8rem;
}

#header .container {
    display: flex;
    justify-content: space-between;
}

#header .logo > img {
    height: 30px;
}

#header nav {
    display: flex;
    align-items: center;
}

#header button {
    border: none;
    background-color: white;
    border-radius: 15px;
    padding: 5px 10px;
    line-height: 20px;
}

#header nav i {
    display: none;
}

/* *MAIN */

/* demo-app section */
#demo-app .card {
    padding: 1rem;
    background-color: #B5DDFF;
}

#demo-app .col {
    width: calc(100% / 3);
}

#demo-app .col:first-child {
    width: calc(100% / 3 * 2);
}

#demo-app .col:first-child .card {
    display: flex;
}

#demo-app .col:first-child .card-left, 
#demo-app .col:first-child .card-right {
    width: 50%;
}

/* planning section */
#planning {
    background-color: var(--primary-color);
}

#planning .container {
    width: 60%;
    display: flex;
    align-items: flex-end;
    gap: 40px;
}

#planning .card {
    width: 50%;
    padding: 40px 0;
}

#planning .card-left {
    height: 100%;
    color: white;
}

#planning .card-right {
    height: 50%;
    background-color: white;
    text-align: center;
    border-radius: 40px;
    padding: 0 25px;
}

#planning .card-left img {
    width: 100%;
    padding-bottom: 100px;
}

#planning .card-right img {
    width: 80%;
}

#planning h2 {
    padding-bottom: 40px;
}

#planning p {
    font-size: .8rem;
    line-height: 25px;
}

#planning h4 {
    padding-bottom: 20px;
}

#planning .card-right p {
    font-style: italic;
}

#planning button {
    width: 40px;
    height: 40px;
    margin: 20px 0;
    border-radius: 50%;
    border: none;
    background-color: #9792E4;
}

/* testimonials section */

#testimonials {
    text-align: center;
    padding: 50px 0;
}

#testimonials h2 {
    font-size: 2rem;
    color: #9792E4;
    margin: 20px 0;
}

#testimonials .card p {
    padding-bottom: 20px;
    font-size: .9rem;
    line-height: 25px;
    color: white;
}

#testimonials .name {
    color: white;
    font-weight: bold;
}

#testimonials .card {
    height: 230px;
    padding: 25px;
    border-radius: 40px;
    text-align: left;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    margin: 30px 0;
}

#testimonials .card-left {
    width: 20%;
    height: 100%;
    margin-right: 30px;
    border-radius: 50%;
    background-image: url(../img/testimonial1.jpg);
    background-size: cover;
    background-position: center;
}

#testimonials .card-right {
    width: 80%;
    height: 60%;
}

/* benefits section */
#benefits {
    background-color: var(--primary-color);
    padding: 30px 0;
}

#benefits h2 {
    color: white;
    font-size: 2rem;
    padding-bottom: 30px;
    text-align: center;
}

#benefits .col {
    border-radius: 20px;
}

#benefits .card {
    background-color: white;
    padding: 10px;
}

/* about us section */
#about-us .container {
    padding: 80px 40px;
    display: flex;
    gap: 30px;
}

#about-us .left-content {
    width: 70%;

    /* debug */
    background-color: orange;
    height: 500px;
}

#about-us .right-content {
    width: 30%;

    /* debug */
    background-color: orange;
    height: 500px;
}

/* banner section */
#banner {
    background-color: var(--primary-color);
    padding: 50px 20px;

    /* debug */
    height: 80vh;
}

#banner .container {
    width: 40%;
    margin: 0 auto;
    height: 100%;

    /* debug */
    background-color: orange;
}